{% block css %}
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/bootstrap.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/style.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/dark.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('travel/travel.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/components/datepicker.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/font-icons.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/animate.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/magnific-popup.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/responsive.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/colors.php?color=AC4147') }}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock %}

{% block body %}
    {# {% include 'layout/navbar.twig.html' %} #}
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2" id="myModal2Button" style="display:none">modal publicite</button>
    <section id="page-title" class="page-title-parallax page-title-dark page-title-video" style="padding: 80px 0">

        <div class="video-wrap">
            <video poster="" preload="auto" loop autoplay muted>
                <source src='video/spacex.mp4' type='video/mp4' />
            </video>
        </div>

        <div class="container dark clearfix">
            <div class="heading-block center topmargin nobottomborder">
                <h3 data-animate="fadeInUp">EMBARQUEZ POUR BISOLARIS</h3>
                <div>Conçu pour mesurer et améliorer les connaissances de l'humanité en matière de durabilité</div>
                <div>PerfectTiming est la meilleure façon de montrer que vous croyez que l'avenir du monde</div>
                <div>est la responsabilité de chacun et qu'il est temp d'agir.</div>
            </div>

            <form action="#" method="post" class="divcenter landing-wide-form clearfix nobottommargin" style="max-width: 1000px">
                <div class="row">
                    <div class="col-lg-9 col-md-9 input-daterange travel-date-group">
                        <input type="text" value="" class="form-control form-control-lg not-dark tleft mnth" name="end" placeholder="Je souhaite changer le monde en ...">
                    </div>
                    <div class="w-100 topmargin d-none d-md-block d-lg-none"></div>
                    <div class="col-lg-3 clearfix">
                        <button class="button btn-lg button-rounded btn-block nomargin" data-toggle="modal" data-target="#myModal3" id="candidateButton" style="height: 46px">CANDIDATER</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section id="content">
        <div class="content-wrap nopadding">
            <div id="portfolio" class="portfolio-nomargin portfolio-full portfolio-overlay-open clearfix">
                <article class="portfolio-item pf-uielements pf-media">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="travel/images/packages/5.jpg" alt="Icy Challenge">
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3>Fonte de la banquise</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </article>

                <article class="portfolio-item pf-graphics pf-uielements">
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="travel/images/packages/3.jpg" alt="Mountain Madness">
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3>fermes et agriculture en foret</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </article>

                <article class="portfolio-item pf-icons pf-illustrations">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="travel/images/packages/4.jpg" alt="Active Explorer">
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3>Recenser les espèces</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </article>

                <article class="portfolio-item pf-illustrations">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="travel/images/packages/2.jpg" alt="Romantic Getaways">
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3>Préserver son littoral</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </article>

                <article class="portfolio-item pf-graphics pf-illustrations">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="travel/images/packages/6.jpg" alt="Hill Trekking">
                            <div class="portfolio-overlay" data-lightbox="gallery">
                                <div class="portfolio-desc">
                                    <h3>Rouler plus vert</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </article>

                <article class="portfolio-item pf-uielements pf-icons">
                    <div class="portfolio-image">
                        <a href="portfolio-single-video.html">
                            <img src="travel/images/packages/7.jpg" alt="Forest Camping">
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3>Eau potable pour tous</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </section>

    {% include 'layout/footer.twig.html' %}

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
            <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <div class="Wrapper">
                    <div class="Input">
                        <input font-size: 1px type="text" id="Text1" class="Input-text" placeholder="Name of the farm">
                        <label for="input" class="Input-label">Farm name</label>
                    </div>
                </div>
                <div class="Wrapper">
                    <div class="Input">
                        <input font-size: 1px type="text" id="Text2" class="Input-text" placeholder="Color of the dot (ex: red, blue, pink...)">
                        <label for="input" class="Input-label">Color</label>
                    </div>
                </div>
                <div class="Wrapper">
                    <div class="Input">
                        <input font-size: 1px type="text" id="Text3" class="Input-text" placeholder="Link to the image you want to put">
                        <label for="input" class="Input-label">Image url</label>
                    </div>
                </div>
                <div class="Wrapper">
                    <div class="Input">
                        <input font-size: 1px type="text" id="Text4" class="Input-text" placeholder="Description of the woof">
                        <label for="input" class="Input-label">Put a description here</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <span class="ok">ok</span>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-body">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">le TOEFL du développement durable</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <a href="https://www.sulitest.org/fr/" target="_blank"><img src="https://www.economiecirculaire.org/data/sources/users/2760/logo-sulitest---tools--carre.jpg" /></a>
                        <p class="center">ooooohhhh :( vous avez 'oublier' de candidater à la survie de l'humanité. </p>
                        <p class="nobottommargin">Notre programme de Woofing, en partenariat avec l'ONU, vous garantit une conformité aux exigences <a href="https://www.sulitest.org/fr/" target="_blank">SULITEST</a></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer la publicité</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-body">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Modal Heading</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                       {{ render ( controller( 'App\\Controller\\TransactionController:transaction_modalcreate') ) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/components/datepicker.js"></script>
	<script src="js/functions.js"></script>
    <script src={{ asset('interactive-map/raphael-min.js') }}></script>
    <script src={{ asset('interactive-map/worldmap.js') }}></script>

    <script>
		$(function() {
			$('.travel-date-group').datepicker({
				autoclose: true,
				startDate: "today",
				minViewMode: 1,
				format: "M-yyyy"
			});
		});
	</script>


    <script>
        var pub = false;
        var scrollPos = 0;
        document.addEventListener('scroll', handleScroll);
        function handleScroll(){
            var element = document.querySelector('#candidateButton').getBoundingClientRect();
            if ((document.body.getBoundingClientRect()).top < scrollPos && element.bottom < 0 && pub == false) {
                pub = true;
                // alert('PUBLICITE : Viens voir le docteur !');
                document.querySelector("#myModal2Button").click();
            }
            scrollPos = (document.body.getBoundingClientRect()).top;
        };
	</script>

    <script text='text/javascript'>
        var modal = document.getElementById("myModal");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock %}
