{% extends 'solaris_login_system.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('plugins/face_detection/camvas.css') }}">
    <style>
        body { background-color: #000000 };
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <script type='text/javascript' > 
    		var isHuman = null;
    		document.addEventListener("DOMContentLoaded", function() {
      			button_callback();
    		});
    	</script>
        <div class="d-flex justify-content-center">
        <nav id="primary-menu" class="style-4" style="float:none">
        </nav>
    </div>
    </div>
    <section id="page-title" class="page-title-parallax page-title-dark page-title-video" style="padding: 80px 0">
        <div class="video-wrap">
            <video id="video-scan" poster="" preload="auto" loop autoplay muted>
                <source src='video/retina_scan.mp4' type='video/mp4' />
            </video>
        </div>

        <div class="container dark clearfix">
            <div class="d-flex justify-content-center">
                <canvas id="camvas" width=640 height=480></canvas>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script type='text/javascript'>var isHuman = false;</script>
	<script src="{{ asset('plugins/face_detection/chrono.js') }}"></script>
	<script src="{{ asset('plugins/face_detection/camvas.js') }}"></script>
	<script src="{{ asset('plugins/face_detection/pico.js') }}"></script>
	<script src="{{ asset('plugins/face_detection/lploc.js') }}"></script>
	<script src="{{ asset('plugins/face_detection/face_detection.js') }}"></script>
{% endblock %}
