{% extends 'base.html.twig' %}

{% block title %}Hello FaceDetectionController!{% endblock %}

{% block css %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <nav id="primary-menu" class="style-4" style="float:none">
                <ul>
                    <li class="current">
                        <a href="#" onclick="button_callback()">
                            <div>
                                <i class="icon-camera"></i>SOLARIS LOGIN SYSTEM <span id="timer" style="display:inline"></span>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="d-flex justify-content-center">
            <canvas width=640 height=480></canvas>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type='text/javascript'>var isHuman = false;</script>
	<script src="{{ asset('plugins/face_detection/camvas.js') }}"></script>
	<script src="{{ asset('plugins/face_detection/pico.js') }}"></script>
	<script src="{{ asset('plugins/face_detection/lploc.js') }}"></script>
	<script src="{{ asset('plugins/face_detection/chrono.js') }}"></script>
	<script src="{{ asset('plugins/face_detection/face_detection.js') }}"></script>
{% endblock %}
