{% block css %}
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/bootstrap.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/style.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/dark.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('travel/travel.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/components/datepicker.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/font-icons.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/animate.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/magnific-popup.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/responsive.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/colors.php?color=AC4147') }}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock %}

{% block body %}

	<div id="wrapper" class="clearfix">
		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Services</h1>
				<span>We provide Amazing Solutions</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Pages</a></li>
					<li class="breadcrumb-item active" aria-current="page">Services</li>
				</ol>
			</div>

		</section>
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="col_one_third">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="#"><i class="icon-crop i-alt"></i></a>
							</div>
							<h3>Premium Sliders Included<span class="subtitle">About 20+ Dedicated Slider Templates</span></h3>
						</div>
					</div>

					<div class="col_one_third">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="#"><i class="icon-tint i-alt"></i></a>
							</div>
							<h3>Unlimited Color Options<span class="subtitle">16.7+ Million on your fingertips</span></h3>
						</div>
					</div>

					<div class="col_one_third col_last">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="#"><i class="icon-text-width i-alt"></i></a>
							</div>
							<h3>CUSTOMIZABLE FONTS<span class="subtitle">Unlimited Fonts &amp; Customizations</span></h3>
						</div>
					</div>

					<div class="clear"></div>

					<div class="col_one_third nobottommargin">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="#"><i class="icon-ok i-alt"></i></a>
							</div>
							<h3>12+ Header Designs<span class="subtitle">Customizable Headers &amp; Menus</span></h3>
						</div>
					</div>

					<div class="col_one_third nobottommargin">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="#"><i class="icon-thumbs-up i-alt"></i></a>
							</div>
							<h3>Awesome Mega menu<span class="subtitle">Stylish &amp; Simple Chunky Menus</span></h3>
						</div>
					</div>

					<div class="col_one_third nobottommargin col_last">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="#"><i class="icon-eye i-alt"></i></a>
							</div>
							<h3>Retina Ready Graphics<span class="subtitle">Crystal Clear Images &amp; Icons</span></h3>
						</div>
					</div>

				</div>

				<div class="section">

					<div class="container clear-bottommargin clearfix">

						<div class="heading-block center">
							<h2>Features List.</h2>
							<span>We provide a wide array of Usable &amp; Flexible Features</span>
						</div>

						<div class="row">

							<div class="col-lg-4 bottommargin">
								<img data-animate="fadeInLeftBig" src="images/services/iphone.png" alt="iPhone" class="center-block">
							</div>

							<div class="col-lg-4 col-md-6 topmargin bottommargin">

								<div class="col_full">

									<div class="feature-box fbox-plain fbox-small fbox-dark">
										<div class="fbox-icon">
											<a href="#"><i class="icon-line-monitor"></i></a>
										</div>
										<h3>Responsive Layout</h3>
										<p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view the changes.</p>
									</div>

								</div>

								<div class="col_full">

									<div class="feature-box fbox-plain fbox-small fbox-dark">
										<div class="fbox-icon">
											<a href="#"><i class="icon-line-eye"></i></a>
										</div>
										<h3>Retina Ready Graphics</h3>
										<p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
									</div>

								</div>

								<div class="col_full nobottommargin">

									<div class="feature-box fbox-plain fbox-small fbox-dark">
										<div class="fbox-icon">
											<a href="#"><i class="icon-line-power"></i></a>
										</div>
										<h3>Powerful Performance</h3>
										<p>Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
									</div>

								</div>

							</div>

							<div class="col-lg-4 col-md-6 topmargin bottommargin">

								<div class="col_full">

									<div class="feature-box fbox-plain fbox-small fbox-dark">
										<div class="fbox-icon">
											<a href="#"><i class="icon-line-layers"></i></a>
										</div>
										<h3>Premium Sliders Included</h3>
										<p>Canvas included 20+ custom designed Slider Pages with Premium Sliders like Layer, Revolution, Swiper &amp; others.</p>
									</div>

								</div>

								<div class="col_full">

									<div class="feature-box fbox-plain fbox-small fbox-dark">
										<div class="fbox-icon">
											<a href="#"><i class="icon-line-star"></i></a>
										</div>
										<h3>Unlimited Color Options</h3>
										<p>Change the Color Scheme of the Theme in a flash just by changing the 6-digit HEX code provided in the colors.php file.</p>
									</div>

								</div>

								<div class="col_full nobottommargin">

									<div class="feature-box fbox-plain fbox-small fbox-dark">
										<div class="fbox-icon">
											<a href="#"><i class="icon-line-anchor"></i></a>
										</div>
										<h3>CUSTOMIZABLE FONTS</h3>
										<p>Use any Font you like from Google Web Fonts, Typekit or other Web Fonts. They will blend in perfectly.</p>
									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

				<div class="container clearfix">

					<div class="heading-block center">
						<h2>Pricing.</h2>
						<span>We believe in Flexible Costing.</span>
					</div>

					<div class="row pricing bottommargin clearfix">

						<div class="col-lg-3">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>Starter</h3>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&euro;</span>7<span class="price-tenure">/mo</span>
								</div>
								<div class="pricing-features">
									<ul>
										<li><strong>Full</strong> Access</li>
										<li><i class="icon-code"></i> Source Files</li>
										<li><strong>100</strong> User Accounts</li>
										<li><strong>1 Year</strong> License</li>
										<li>Phone &amp; Email Support</li>
									</ul>
								</div>
								<div class="pricing-action">
									<a href="#" class="btn btn-danger btn-block btn-lg">Sign Up</a>
								</div>
							</div>

						</div>

						<div class="col-lg-3">

							<div class="pricing-box best-price">
								<div class="pricing-title">
									<h3>Professional</h3>
									<span>Most Popular</span>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&euro;</span>12<span class="price-tenure">/mo</span>
								</div>
								<div class="pricing-features">
									<ul>
										<li><strong>Full</strong> Access</li>
										<li><i class="icon-code"></i> Source Files</li>
										<li><strong>1000</strong> User Accounts</li>
										<li><strong>2 Years</strong> License</li>
										<li><i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i></li>
									</ul>
								</div>
								<div class="pricing-action">
									<a href="#" class="btn btn-danger btn-block btn-lg bgcolor border-color">Sign Up</a>
								</div>
							</div>

						</div>

						<div class="col-lg-3">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>Business</h3>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&euro;</span>19<span class="price-tenure">/mo</span>
								</div>
								<div class="pricing-features">
									<ul>
										<li><strong>Full</strong> Access</li>
										<li><i class="icon-code"></i> Source Files</li>
										<li><strong>500</strong> User Accounts</li>
										<li><strong>3 Years</strong> License</li>
										<li>Phone &amp; Email Support</li>
									</ul>
								</div>
								<div class="pricing-action">
									<a href="#" class="btn btn-danger btn-block btn-lg">Sign Up</a>
								</div>
							</div>

						</div>

						<div class="col-lg-3">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>Enterprise</h3>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&euro;</span>29<span class="price-tenure">/mo</span>
								</div>
								<div class="pricing-features">
									<ul>
										<li><strong>Full</strong> Access</li>
										<li><i class="icon-code"></i> Source Files</li>
										<li><strong>1000</strong> User Accounts</li>
										<li><strong>5 Years</strong> License</li>
										<li>Phone &amp; Email Support</li>
									</ul>
								</div>
								<div class="pricing-action">
									<a href="#" class="btn btn-danger btn-block btn-lg">Sign Up</a>
								</div>
							</div>

						</div>

					</div>

				</div>

				<div class="promo promo-dark promo-flat promo-full topmargin footer-stick">
					<div class="container clearfix">
						<h3>Call us today at <span>+91.22.57412541</span> or Email us at <span>support@canvas.com</span></h3>
						<span>We strive to provide Our Customers with Top Notch Support to make their Theme Experience Wonderful</span>
						<a href="#" class="button button-xlarge button-rounded">Start Browsing</a>
					</div>
				</div>

			</div>

		</section>

        {% include 'layout/footer.twig.html' %}
	</div>
{% endblock %}

{% block js %}
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/functions.js"></script>
{% endblock %}
