{% extends 'base.html.twig' %}

{% block title %}Hello FaceDetectionController!{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ asset('plugins/face_detection/face_detection.css') }}">
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<script type='text/javascript' > 
	  var isHuman = false; 
	</script>
	
	<span id="timer"></span>
    <p><center><input class="intergalactic_button" id= "scan" type="button" value="Start webcam feed" onclick="button_callback()"></center></p>
	<p><center><canvas width=640 height=480></canvas></center></p>

</div>
{% endblock %}

{% block js %}
	<script src="{{ asset('plugins/face_detection/camvas.js') }}"></script>
	<script src="{{ asset('plugins/face_detection/pico.js') }}"></script>
	<script src="{{ asset('plugins/face_detection/lploc.js') }}"></script>
	<script src="{{ asset('plugins/face_detection/chrono.js') }}"></script>
	<script src="{{ asset('plugins/face_detection/face_detection.js') }}"></script>
{% endblock %}
