{% block css %}
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/bootstrap.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/style.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/dark.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('travel/travel.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/components/datepicker.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/font-icons.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/animate.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/magnific-popup.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/responsive.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('plugins/css/colors.php?color=AC4147') }}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock %}

{% block body %}

	<div id="wrapper" class="clearfix">
		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Fermes et Agriculture en forêt</h1>
				<span>Nous proposons de nouveaux habitats et de nouvelles façons de se nourrir</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:history.back()">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Farm</li>
				</ol>
			</div>

		</section>
		<section id="content">

			<div class="content-wrap">

				<div id="farm" style="background-image: 'travel/images/packages/3.jpg';" class="container clearfix">

					<div class="col_one_third">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="#"><i class="icon-crop i-alt"></i></a>
							</div>
							<h3>Apprentissage personnalisé<span class="subtitle">Chaque programme est unique</span></h3>
						</div>
					</div>

					<div class="col_one_third">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="#"><i class="icon-tint i-alt"></i></a>
							</div>
							<h3>Préservation de l'espace naturel<span class="subtitle">Une équipe qui vous sensibilise</span></h3>
						</div>
					</div>

					<div class="col_one_third col_last">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="#"><i class="icon-text-width i-alt"></i></a>
							</div>
							<h3>Ouverture aux nouvelles technologies<span class="subtitle">Découvrez les nouvelles techniques<span></h3>
						</div>
					</div>

					<div class="clear"></div>

					<div class="col_one_third nobottommargin">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="#"><i class="icon-ok i-alt"></i></a>
							</div>
							<h3>Validé par les organismes intergallactiques<span class="subtitle">Chaque site est vérifié et certifié</span></h3>
						</div>
					</div>

					<div class="col_one_third nobottommargin">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="#"><i class="icon-thumbs-up i-alt"></i></a>
							</div>
							<h3>Un partage humain<span class="subtitle">Découvrez la vie des Bisolariens qui consacrent leur vie</span></h3>
						</div>
					</div>

					<div class="col_one_third nobottommargin col_last">
						<div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
							<div class="fbox-icon">
								<a href="#"><i class="icon-eye i-alt"></i></a>
							</div>
							<h3>Suivi après la formation<span class="subtitle">Chaque formé garde contact avec son formateur</span></h3>
						</div>
					</div>

				</div>

				<div class="section">

					<div class="container clear-bottommargin clearfix">

						<div class="heading-block center">
							<h2>Liste des activités</h2>
							<span>Elargissez votre savoir-faire à travers diverses activités</span>
						</div>

						<div class="row">

							<div class="col-lg-4 bottommargin">
								<img data-animate="fadeInLeftBig" src="travel/images/packages/3.jpg" alt="iPhone" class="center-block">
							</div>

							<div class="col-lg-4 col-md-6 topmargin bottommargin">

								<div class="col_full">

									<div class="feature-box fbox-plain fbox-small fbox-dark">
										<div class="fbox-icon">
											<a href="#"><i class="icon-line-monitor"></i></a>
										</div>
										<h3>Responsive Layout</h3>
										<p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view the changes.</p>
									</div>

								</div>

								<div class="col_full">

									<div class="feature-box fbox-plain fbox-small fbox-dark">
										<div class="fbox-icon">
											<a href="#"><i class="icon-line-eye"></i></a>
										</div>
										<h3>Retina Ready Graphics</h3>
										<p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
									</div>

								</div>

								<div class="col_full nobottommargin">

									<div class="feature-box fbox-plain fbox-small fbox-dark">
										<div class="fbox-icon">
											<a href="#"><i class="icon-line-power"></i></a>
										</div>
										<h3>Powerful Performance</h3>
										<p>Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
									</div>

								</div>

							</div>

							<div class="col-lg-4 col-md-6 topmargin bottommargin">

								<div class="col_full">

									<div class="feature-box fbox-plain fbox-small fbox-dark">
										<div class="fbox-icon">
											<a href="#"><i class="icon-line-layers"></i></a>
										</div>
										<h3>Premium Sliders Included</h3>
										<p>Canvas included 20+ custom designed Slider Pages with Premium Sliders like Layer, Revolution, Swiper &amp; others.</p>
									</div>

								</div>

								<div class="col_full">

									<div class="feature-box fbox-plain fbox-small fbox-dark">
										<div class="fbox-icon">
											<a href="#"><i class="icon-line-star"></i></a>
										</div>
										<h3>Unlimited Color Options</h3>
										<p>Change the Color Scheme of the Theme in a flash just by changing the 6-digit HEX code provided in the colors.php file.</p>
									</div>

								</div>

								<div class="col_full nobottommargin">

									<div class="feature-box fbox-plain fbox-small fbox-dark">
										<div class="fbox-icon">
											<a href="#"><i class="icon-line-anchor"></i></a>
										</div>
										<h3>CUSTOMIZABLE FONTS</h3>
										<p>Use any Font you like from Google Web Fonts, Typekit or other Web Fonts. They will blend in perfectly.</p>
									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

				<div class="container clearfix">

					<div class="heading-block center">
						<h2>Postulez</h2>
						<span>Rejoignez la belle aventure !</span>
					</div>
                    
                    <a href="javascript:history.back()" class="btn btn-danger btn-block btn-lg">Je postule dès maintenant</a>

				</div>

			</div>

		</section>

        {% include 'layout/footer.twig.html' %}
	</div>
{% endblock %}

{% block js %}
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/functions.js"></script>
{% endblock %}
